body{
    background-color: blue;
}
h1{
    font-size: 175%;
    text-align: center;
}
*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
A{
    font-size: 125%;
    background-color: violet;
    position: absolute ;
    right: 0;
    border: 3px solid black;
    margin:-40px 0 0 0 ;
}
span{
    position: relative;                 ;
    border: 3px solid black;
    padding:40px 0 0 0;
    float:left;
    background-color: rgb(212, 211, 211);
    
}
span.co1{
    background-color: blueviolet;
}
span.co2{
    background-color: red;
}
span.co3{
    background-color: orange;
}
@media ( min-width:992px ) 
{
    span
    {
        width:31.33%;
        margin:1%;
    }
}    
@media ( max-width:991px) and ( min-width:768px) 
{
    span.co1
    {
        width:48%;
        margin:1%
    }
    span.co2
    {
        width:48%;
        margin:1%;
    }
    span.co3
    {
        width:98%;
        margin:1%
    }
}
@media ( max-width:767px ) 
{
    span
    {
        width:98%;
        margin:1%;
    }
}
